<script setup lang="ts">
import { type Product } from '@/type/Product'

import ProductList from '@/components/ProductList.vue';
import { ref } from 'vue';


const products1: Product[] = [
    { id: 1, name: "ลาเต้", price: 15.00, type: 1 },
    { id: 2, name: "ลาเต้", price: 25.00, type: 1 },
    { id: 3, name: "ลาเต้", price: 35.00, type: 1 },
    { id: 4, name: "ลาเต้", price: 45.00, type: 1 },
    { id: 5, name: "ลาเต้", price: 55.00, type: 1 },
    { id: 6, name: "ลาเต้", price: 65.00, type: 1 },
    { id: 7, name: "ลาเต้", price: 75.00, type: 1 },
    { id: 8, name: "ลาเต้", price: 85.00, type: 1 },
    { id: 9, name: "ลาเต้", price: 85.00, type: 1 },
]

const products2: Product[] = [
    { id: 1, name: "ลาเต้", price: 15.00, type: 2 },
    { id: 2, name: "ลาเต้", price: 25.00, type: 2 },

]

const products3: Product[] = [
    { id: 1, name: "ลาเต้", price: 15.00, type: 3 },
    { id: 2, name: "ลาเต้", price: 25.00, type: 3 },
    { id: 3, name: "ลาเต้", price: 35.00, type: 3 },
    { id: 4, name: "ลาเต้", price: 45.00, type: 3 },

]

const selected = (p: Product) => {

}

const tab = ref(1)
</script>
<template>
    <v-container>
        <v-row>
            <v-col cols="12" md="6" style="background-color: aqua;"> aaaa
                <v-container style="padding: 0;">
                    <v-row>
                        <v-col cols="12">
                            <v-sheet min-width="300" max-width="600" height="300" elevation="6"></v-sheet>
                        </v-col>
                        <v-col cols="12">
                            <v-sheet min-width="300" max-width="600" height="300" elevation="6"></v-sheet>
                        </v-col>
                        <v-col cols="12">
                            <v-sheet min-width="300" max-width="600" height="300" elevation="6"></v-sheet>
                        </v-col>
                    </v-row>
                </v-container>
            </v-col>
            <v-col cols="12" md="6" style="background-color: red;">
                <v-sheet min-width="300" max-width="600" height="800" elevation="6">
                    <v-tabs v-model="tab" color="deep-purple-accent-4" align-tabs="center">
                        <v-tab :value="1">เครื่องดื่ม</v-tab>
                        <v-tab :value="2">ขนม</v-tab>
                        <v-tab :value="3">น้ำ</v-tab>
                    </v-tabs>>
                    <v-window v-model="tab">
                        <v-window-item :value="1">
                            <ProductList :products="products1" @selected-product="selected"> </ProductList>
                        </v-window-item>
                        
                        <v-window-item :value="2">
                            <ProductList :products="products2" @selected-product="selected"> </ProductList>
                        </v-window-item>

                        <v-window-item :value="3">
                            <ProductList :products="products3" @selected-product="selected"> </ProductList>
                        </v-window-item>

                    
                    </v-window>
                </v-sheet>
            </v-col>
        </v-row>

    </v-container>
</template>

